* {
  margin: 0px;
  padding: 0px;
}

.cellContainer {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
}

.cell {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#turn-status {
  color: green;
}
